@model BeerStore.Models.Product

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <script type="text/javascript">
        window.onload = function() {
            loadToCanvas("@Model.Image");
        };
    </script>
</head>
<body>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <form asp-action="AddToCart" asp-route-id="@Model.ProductId" method="post">
            <input type="submit" value="Add to cart" class="action-button" />
        </form>
        <br/><aside>
            <canvas id="imageCanvas" width="200" height="200"></canvas>
            <img id="realimage" src="@Model.Image" />
        </aside><br/>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Volume)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Volume)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
@if (ViewData.ContainsKey("RecommendedProducts") && ((List<Product>) ViewData["RecommendedProducts"]).Where(p => p.ProductId != Model.ProductId).ToList().Count > 0)
{
    var productNumber = ((List<Product>) ViewData["RecommendedProducts"]).Count;
    <div class="well well-lg">
        <dl class="dl-horizontal">
            <h3>You might also like</h3>
            
            @for (int productIndex = 0; productIndex < productNumber; productIndex++)
            {
                var product = ((List<Product>) ViewData["RecommendedProducts"])[productIndex];
                if(product.ProductId != Model.ProductId) {
                    <a asp-action="Details" asp-route-id="@product.ProductId" style="color: inherit; text-decoration:none">
                        <div>
                            <dt>
                                @Html.DisplayNameFor(prod => product.Name)
                            </dt>
                            <dd>
                                <span>@product.Name</span>
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(prod => product.Price)
                            </dt>
                            <dd>
                                @Html.DisplayFor(prod => product.Price)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(prod => product.Volume)
                            </dt>
                            <dd>
                                @Html.DisplayFor(prod => product.Volume)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(prod => product.Description)
                            </dt>
                            <dd>
                                @Html.DisplayFor(prod => product.Description)
                            </dd>

                            @if (productIndex < productNumber - 1)
                            {
                                <hr/>
                            }
                        </div>
                    </a>
                }
            }
        </dl>
    </div>
}
<div>
    @if (User != null && User.HasClaim("permission","update"))
    {
        <a asp-action="Edit" asp-route-id="@Model.ProductId">Edit</a> <span>|</span>
    }
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
