@model IEnumerable<BeerStore.Models.Product>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

@if (User != null && User.HasClaim("permission","create"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<div class="form-group">
    <br/>
    <label class="control-label">Search</label><br/>
    @using (Html.BeginForm("Index", "Product", FormMethod.Get))
    {
        <div>
            @Html.TextBox("name", ViewBag.CurrentFilter as string, new
            {
                @style = "width: 69%; display: inline",
                @class = "form-control",
                @placeholder = "Name"
            })
            <a value="Search" id="extra-button" style="display: inline; width: 10%">Extra filters ▼</a>
            <input type="submit" value="Search" class="form-control" style="width: 10%; display: inline"/>
        </div>
        <div class="form-group" id="extra-filter" hidden="true">
            <br/>
            <table style="width: 100%">
                <tr>
                    <td>
                        <label class="control-label">Volume</label>
                    </td>
                    <td>
                        <label class="control-label">Price Range</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        @foreach (var volume in ViewBag.Volumes)
                        {
                            <div name="checkboxs">
                                <label>
                                    <input type="checkbox" name="volumes" value="@volume"> @volume
                                </label>
                            </div>
                        }
                    </td>
                    <td>
                        @Html.TextBox("minRange", "", new
                        {
                            @style = "width: 10%; display: inline",
                            @class = "form-control",
                            @placeholder = "Min price"
                        })
                        <span>-</span>
                        @Html.TextBox("maxRange", "", new
                        {
                            @style = "width: 10%; display: inline",
                            @class = "form-control",
                            @placeholder = "Max price"
                        })
                    </td>
                </tr>
            </table>
        </div>
    }
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Volume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td style="width: 21%">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td style="width: 2%">
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td style="width: 2%">
                @Html.DisplayFor(modelItem => item.Volume)
            </td>
            <td style="width: 52.41%">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @if (User != null && User.HasClaim("permission","update"))
                {
                    <a asp-action="Edit" asp-route-id="@item.ProductId">Edit</a> <span>|</span>
                }
                <a asp-action="Details" asp-route-id="@item.ProductId">Details</a>
                @if (User != null && User.HasClaim("permission","update"))
                {
                    <span>|</span> <a asp-action="Delete" asp-route-id="@item.ProductId">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
