﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: beer-font, serif;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

#loginModalDialogContent {
    height: 577px;
}

#closebtn {
    color: red;
    margin: 5px;
    font-size: 25px
}

.beer-navbar {
    background-color: gold;
    border-color: gold;
}

.navbar-inverse .beer-navbar-nav > li > a {
    color: black;
    -webkit-transition: text-shadow 0.5s;
    transition: text-shadow 0.5s;
}

.navbar-inverse .beer-navbar-nav > li > a:hover {
    color: black;
    text-shadow: 0 0 2px #0f0f0f;
}

.navbar-inverse .beer-navbar-nav > li > a:focus {
    color: black;
    text-shadow: 0 0 2px #0f0f0f;
}

.navbar-inverse .navbar-brand {
    color: black;
}

.navbar-inverse .navbar-brand:hover {
    color: black;
    text-shadow: 0 0 2px #0f0f0f;
}

.navbar-inverse .navbar-brand:focus {
    color: black;
    text-shadow: 0 0 2px #0f0f0f;
}

.multiple-columns-3 {
    column-count: 3;
    column-rule: 2px solid gray;
}

@font-face {
    font-family: beer-font;
    src: url(/fonts/Montserrat-Bold.otf);
}

.action-button {
    background-color: gold;
    border: none;
    border-radius: 5px;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition: text-shadow 0.5s, box-shadow 0.7s;
    transition: text-shadow 0.5s, box-shadow 0.7s;
}


.action-button:hover {
    text-shadow: 0 0 2px #0f0f0f;
    box-shadow: 0 0 2px #0f0f0f;
}