@model BeerStore.Models.Order

@functions
{
    
    string GetCartPrice(Order order)
    {
        if (order == null) return "0";
        return order.OrderProduct.Sum(orderProduct => orderProduct.Product.Price * orderProduct.Quantity)
            .ToString("0.00");
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <div>
            @foreach (var orderProduct in Model.OrderProduct)
            {
                <div class="well well-lg">
                    <dt>
                        @Html.DisplayName("Name")
                    </dt>
                    <dd>
                        @orderProduct.Product.Name
                    </dd>
                    <dt>
                        @Html.DisplayName("Price")
                    </dt>
                    <dd>
                        &#8362; @orderProduct.Product.Price
                    </dd>
                    <dt>
                        @Html.DisplayName("Quantity")
                    </dt>
                    <dd>
                        @orderProduct.Quantity.ToString()
                    </dd>
                    <dt>
                        @Html.DisplayName("Total Price")
                    </dt>
                    <dd>
                        &#8362; @((orderProduct.Product.Price * orderProduct.Quantity).ToString("0.00"))
                    </dd>
                </div>
            }
        </div>
        <dt>
            @Html.DisplayName("Total cart price")
        </dt>
        <dd>
            &#8362; @GetCartPrice(Model)
        </dd>
    </dl>
</div>
<div>
    @if (Model.OrderId == 0)
    {
        <form asp-action="Create" method="post">
            <input type="submit" value="Checkout"/>
        </form>
        <form asp-action="Delete" asp-route-id="0" method="post">
            <input type="submit" value="Clear"/>
        </form>
    }
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
