@model IEnumerable<BeerStore.Models.Order>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<div class="form-group">
<br/>
<label class="control-label">Search</label><br/>
@using (Html.BeginForm("Index", "Order", FormMethod.Get))
{
    @Html.TextBox("OrderId", ViewBag.CurrentFilter as string, new
    {
        @style = "width: 89%; display: inline",
        @class = "form-control",
        @placeholder = "Order id"
    })
    <input type="submit" value="Search" class="form-control" style="width: 10%; display: inline"/>
}
</div>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.OrderId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> |
            @* <a asp-action="Details" asp-route-id="@item.OrderId">Details</a> | *@
            <a asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
        </td>
    </tr>
}
    </tbody>
</table>
</body>
</html>
