@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@functions
{

    int GetCurrentCustomerId()
    {
        var currentUser = UserManager.GetUserAsync(User).GetAwaiter().GetResult();
        return currentUser.CustomerId;
    }

    string GetCartPrice()
    {
        var order = SessionHelper.GetObjectFromJson<Order>(Context.Session, "cart");
        if (order == null) return "0";
        return order.OrderProduct.Sum(orderProduct => orderProduct.Product.Price * orderProduct.Quantity)
            .ToString("0.00");
    }

    bool IsCurrentUserAdmin()
    {
        var currentUser = UserManager.GetUserAsync(User).GetAwaiter().GetResult();
        return UserManager.IsInRoleAsync(currentUser, "Admin").GetAwaiter().GetResult();
    }
}
@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right beer-navbar-nav">
            <li>
                <a asp-controller="Customer" asp-action="Details" asp-route-id="@GetCurrentCustomerId()" title="Manage">Hello @UserManager.GetUserName(User)! @if (IsCurrentUserAdmin())
                                                                                                                                                              {
                                                                                                                                                                  <i class="fas fas fa-user-tie"></i>
                                                                                                                                                              }</a>
            </li>
            <li>
                <a asp-controller="Order" asp-action="Details"><span class="glyphicon glyphicon-shopping-cart"></span>&#8362; @GetCartPrice()</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right beer-navbar-nav">
        <li class="navbar-right"><a href="javascript:void(0);" onclick="onLoginClick();">Login</a></li>
    </ul>
}
