@using Microsoft.AspNetCore.Identity
@model BeerStore.Models.Customer
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@functions
{

    bool IsCurrentUserAdmin()
    {
        var currentUser = UserManager.GetUserAsync(User).GetAwaiter().GetResult();
        return UserManager.IsInRoleAsync(currentUser, "Admin").GetAwaiter().GetResult();
    }

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CustomerId">Edit</a>
    @if (IsCurrentUserAdmin())
    {
        <span>|</span> <a asp-action="Index">Back to List</a>
    }
</div>
</body>
</html>
