@model IEnumerable<BeerStore.Models.Customer>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="form-group">
    <br/>
    <label class="control-label">Search</label><br/>
    @using (Html.BeginForm("Index", "Customer", FormMethod.Get))
    {
        <div>
            @Html.TextBox("FirstName", ViewBag.CurrentFilter as string, new
            {
                @style = "width: 37%; display: inline; margin-right: 0.5",
                @class = "form-control",
                @placeholder = "First name"
            })
            @Html.TextBox("LastName", ViewBag.CurrentFilter as string, new
            {
                @style = "width: 37%; display: inline",
                @class = "form-control",
                @placeholder = "Last name"
            })
            <a value="Search" id="extra-button" style="display: inline">Extra filters ▼</a>
            <input type="submit" value="Search" class="form-control" style="width: 10%; display: inline"/>
        </div>
        <div class="form-group" id="extra-filter" hidden="true">
            <br/>
            <table>
                <tr>
                    <td>
                        <label class="control-label">Phone Number</label>
                    </td>
                    <td>
                        <label class="control-label">Gender</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.TextBox("Phone", "", new
                        {
                            @style = "width: 75%; display: inline",
                            @class = "form-control",
                            @placeholder = "Phone number"
                        })
                    </td>
                    <td>
                        @Html.DropDownList("Gender", new List<SelectListItem>
                        {
                            new SelectListItem{ Text="Unclassified", Value = null },
                            new SelectListItem{ Text="Male", Value = "1" },
                            new SelectListItem{ Text="Female", Value = "2" },
                        }, new
                        {
                            @style = "width: 100%; display: inline",
                            @class = "form-control",
                            @placeholder = "Gender"
                        })
                    </td>
                </tr>
            </table>
        </div>
    }
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @if (User != null && User.HasClaim("permission", "update"))
                {
                    <a asp-action="Edit" asp-route-id="@item.CustomerId">Edit</a> <span>| </span>
                }
                <a asp-action="Details" asp-route-id="@item.CustomerId">Details</a> 
                @if (User != null && User.HasClaim("permission", "delete"))
                {
                    <span> |</span> <a asp-action="Delete" asp-route-id="@item.CustomerId">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
