﻿@{
    ViewData["Title"] = "About";
    ViewData["Message"] = "The story about the beer store";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This beer store was created by three talented programmers:
    <ul>
        <li>
            Liron Levi
        </li>
        <li>
            Maor Walter
        </li>
        <li>
            Sagi Carmel
        </li>
    </ul>

    This store intensions is to make money and only money.
</p>
