﻿@using Microsoft.AspNetCore.Identity
@using Newtonsoft.Json.Linq
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Home Page";
}

@functions
{
    bool IsCurrentUserAdmin()
    {
        var currentUser = UserManager.GetUserAsync(User).GetAwaiter().GetResult();
        return currentUser != null && UserManager.IsInRoleAsync(currentUser, "Admin").GetAwaiter().GetResult();
    }
}

@if (IsCurrentUserAdmin())
{
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            createOrderPerMonthChart();
            createProfitabilityChart();
        }, false);
    </script>
    
    <header>
        <h2>Manageable items</h2>
    </header>
    <nav class="nav nav-pills">
        <li>@Html.ActionLink("Customers", "Index", "Customer")</li>
        <li>@Html.ActionLink("Orders", "Index", "Order")</li>
        <li>@Html.ActionLink("Products", "Index", "Product")</li>
        <li>@Html.ActionLink("Suppliers", "Index", "Supplier")</li>
    </nav>
    <hr/>
    <aside>
        <header>
            <h2>Store Statistics</h2>
        </header>
        <table>
            <tr align="center">
                <td><label>Number of order by day of the month</label></td>
                <td><label>Profit By product</label></td>
            </tr>
            <tr align="center">
                <td>
                    <div id="orderByMonthChart">
                        @Html.AntiForgeryToken()
                    </div>
                </td>
                <td>
                    <div id="profitabilityByProduct">
                        @Html.AntiForgeryToken()
                    </div>
                </td>
            </tr>
        </table>
    </aside>
}
else
{
    <br/><center>
        <video width="854" height="480" controls>
            <source src="~/videos/main_video.mp4" type="video/mp4"/>
        </video>
    </center><br/>
    <div class="well well-lg">
        <h2>Random Beer Section</h2>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName("Name")
            </dt>
            <dd>
                @(((JObject) ViewData["RandomBeer"])["data"]["name"])
            </dd>
            <dt>
                @Html.DisplayName("Percentage")
            </dt>
            <dd>
                @(((JObject) ViewData["RandomBeer"])["data"]["abv"])
            </dd>
            <dt>
                @Html.DisplayName("Style")
            </dt>
            <dd>
                @(((JObject) ViewData["RandomBeer"])["data"]["style"]["name"])
            </dd>
            <dt>
                @Html.DisplayName("Style description")
            </dt>
            <dd>
                <div class="multiple-columns-3">@(((JObject) ViewData["RandomBeer"])["data"]["style"]["description"])</div>
            </dd>
        </dl>
    </div>
}
