@model BeerStore.Models.Supplier

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.bing.com/api/maps/mapcontrol?callback=LoadMap" defer></script>
    <script type="text/javascript">
        $('#map').ready(function loadDots() {
            var name="@Model.Name";
            var address="@Model.Address.Street @Model.Address.Number, @Model.Address.City @Model.Address.ZipCode";
            loadJSON(name, address);
        });
    </script>
</head>
<body>
<div>
    <h4>Supplier</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.City)
        </dd>
    </dl>
</div>
<div id="map" style="position: relative; width: 100%; height: 500px;" onload="LoadMap()"></div>

<div>
    @if (User != null && User.HasClaim("permission", "update"))
    {
        <a asp-action="Edit" asp-route-id="@Model.SupplierId">Edit</a> <span>|</span>
    }
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
