@model IEnumerable<BeerStore.Models.Supplier>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.bing.com/api/maps/mapcontrol?callback=LoadMap" defer></script>
    <script type="text/javascript">
        $('#map').ready(function loadDots() {
            @foreach (var item in Model)
            {
                @:var name = "@item.Name";
                @:var address = "@item.Address.Street @item.Address.Number, @item.Address.City @item.Address.ZipCode";
                @:loadJSON(name, address);
            }
        });
    </script>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="form-group">
    <label class="control-label">Search</label><br/>
    
    @using (Html.BeginForm("Index", "Supplier", FormMethod.Get))
    {
        <p>
            @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, new
            {
                @style="width: 73%; display: inline",
                @class="form-control"
            })
            @Html.DropDownList("searchIndex",
            new List<SelectListItem>
            {
                new SelectListItem{ Text="Name", Value = "name" },
                new SelectListItem{ Text="Phone", Value = "phone" },
                new SelectListItem{ Text="City", Value = "city" },
                new SelectListItem{ Text="Product", Value = "product" }
            },
            new
            {
                @style="width: 15%; display: inline",
                @class="form-control",            
            })
            <input type="submit" value="Search" class="form-control" style="width: 10%; display: inline"/>
        </p>
    }
</div>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.Street)
                @Html.DisplayFor(modelItem => item.Address.Number),
                @Html.DisplayFor(modelItem => item.Address.City),
                @Html.DisplayFor(modelItem => item.Address.ZipCode)
            </td>
            <td>
                @if (User != null && User.HasClaim("permission", "update"))
                {
                    <a asp-action="Edit" asp-route-id="@item.SupplierId">Edit</a> <span>|</span>
                }
                <a asp-action="Details" asp-route-id="@item.SupplierId">Details</a> |
                @if (User != null && User.HasClaim("permission", "delete"))
                {
                    <a asp-action="Delete" asp-route-id="@item.SupplierId">Delete</a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>
<div id="map" style="position: relative; width: 100%; height: 500px;" onload="LoadMap()"></div>
</body>
</html>